flows.json
[{"id":"c1c2e560.7dc148","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"26113711.4f5698","type":"alexa-smart-home-v3-state","z":"c1c2e560.7dc148","conf":"a8e4d29a.5a341","device":"22255","name":"power switch","x":350,"y":100,"wires":[]},{"id":"b58f2161.6e2cc","type":"alexa-smart-home-v3","z":"c1c2e560.7dc148","conf":"a8e4d29a.5a341","device":"22255","acknowledge":true,"name":"power switch","topic":"","x":110,"y":60,"wires":[["1aa56b19.30eab5","26113711.4f5698"]]},{"id":"1aa56b19.30eab5","type":"change","z":"c1c2e560.7dc148","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"0","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":60,"wires":[["ee63356f.5ff778"]]},{"id":"ee63356f.5ff778","type":"rpi-gpio out","z":"c1c2e560.7dc148","name":"","pin":"37","set":true,"level":"1","freq":"","out":"out","x":620,"y":60,"wires":[]},{"id":"6b4ce1e2.d9eab","type":"alexa-smart-home-v3-state","z":"c1c2e560.7dc148","conf":"a8e4d29a.5a341","device":"22259","name":"switch 2 ","x":340,"y":220,"wires":[]},{"id":"a1892d1f.64803","type":"alexa-smart-home-v3","z":"c1c2e560.7dc148","conf":"a8e4d29a.5a341","device":"22259","acknowledge":true,"name":"switch 2 ","topic":"","x":100,"y":180,"wires":[["827a7e91.fd33c","6b4ce1e2.d9eab"]]},{"id":"827a7e91.fd33c","type":"change","z":"c1c2e560.7dc148","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"0","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":180,"wires":[["c0084bc8.360ad8"]]},{"id":"c0084bc8.360ad8","type":"rpi-gpio out","z":"c1c2e560.7dc148","name":"","pin":"35","set":true,"level":"1","freq":"","out":"out","x":620,"y":180,"wires":[]},{"id":"c9aeaee6.c2a9c","type":"alexa-smart-home-v3-state","z":"c1c2e560.7dc148","conf":"a8e4d29a.5a341","device":"22260","name":"switch 3","x":340,"y":340,"wires":[]},{"id":"88301a77.74c2c8","type":"alexa-smart-home-v3","z":"c1c2e560.7dc148","conf":"a8e4d29a.5a341","device":"22260","acknowledge":true,"name":"switch 3","topic":"","x":100,"y":300,"wires":[["d9ec9d31.0a25f","c9aeaee6.c2a9c"]]},{"id":"d9ec9d31.0a25f","type":"change","z":"c1c2e560.7dc148","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"0","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":300,"wires":[["97a76b8d.5fe0b8"]]},{"id":"97a76b8d.5fe0b8","type":"rpi-gpio out","z":"c1c2e560.7dc148","name":"","pin":"33","set":true,"level":"1","freq":"","out":"out","x":620,"y":300,"wires":[]},{"id":"7befa780.dfc158","type":"alexa-smart-home-v3-state","z":"c1c2e560.7dc148","conf":"a8e4d29a.5a341","device":"22261","name":"switch 4","x":340,"y":460,"wires":[]},{"id":"27978bc6.b24de4","type":"alexa-smart-home-v3","z":"c1c2e560.7dc148","conf":"a8e4d29a.5a341","device":"22261","acknowledge":true,"name":"switch 4","topic":"","x":100,"y":420,"wires":[["cbd8452f.74b668","7befa780.dfc158"]]},{"id":"cbd8452f.74b668","type":"change","z":"c1c2e560.7dc148","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":420,"wires":[["8caaad1.2adad5"]]},{"id":"c7963a57.eb6f18","type":"rpi-gpio out","z":"c1c2e560.7dc148","name":"","pin":"31","set":true,"level":"1","freq":"","out":"out","x":1000,"y":460,"wires":[]},{"id":"1bea71fa.16c60e","type":"alexa-smart-home-v3-state","z":"c1c2e560.7dc148","conf":"a8e4d29a.5a341","device":"22263","name":"switch 5","x":320,"y":580,"wires":[]},{"id":"af928b29.8b7b88","type":"alexa-smart-home-v3","z":"c1c2e560.7dc148","conf":"a8e4d29a.5a341","device":"22263","acknowledge":true,"name":"switch 5","topic":"","x":80,"y":540,"wires":[["35b6df04.6748a","1bea71fa.16c60e"]]},{"id":"35b6df04.6748a","type":"change","z":"c1c2e560.7dc148","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":540,"wires":[["7d90c73b.3634b8"]]},{"id":"2e247768.d2b838","type":"rpi-gpio out","z":"c1c2e560.7dc148","name":"","pin":"29","set":true,"level":"1","freq":"","out":"out","x":1000,"y":580,"wires":[]},{"id":"13664c33.7f3474","type":"alexa-smart-home-v3-state","z":"c1c2e560.7dc148","conf":"a8e4d29a.5a341","device":"22264","name":"switch 6","x":260,"y":780,"wires":[]},{"id":"97ab6714.56f5d8","type":"alexa-smart-home-v3","z":"c1c2e560.7dc148","conf":"a8e4d29a.5a341","device":"22264","acknowledge":true,"name":"switch 6","topic":"","x":100,"y":700,"wires":[["e2d740cc.517c1","13664c33.7f3474","cec0feb1.80ff1"]]},{"id":"e2d740cc.517c1","type":"change","z":"c1c2e560.7dc148","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":680,"wires":[["af6fcf38.8ff34"]]},{"id":"7c7a9a12.9093f4","type":"rpi-gpio out","z":"c1c2e560.7dc148","name":"","pin":"15","set":true,"level":"1","freq":"","out":"out","x":700,"y":740,"wires":[]},{"id":"8caaad1.2adad5","type":"ui_switch","z":"c1c2e560.7dc148","name":"","label":"Laptop Charger","tooltip":"","group":"d83d2131.5d616","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":800,"y":420,"wires":[["c7963a57.eb6f18","cb0ad802.ef0ba8"]]},{"id":"af6fcf38.8ff34","type":"ui_switch","z":"c1c2e560.7dc148","name":"","label":"Rgb Strip","tooltip":"","group":"d83d2131.5d616","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":860,"y":680,"wires":[["7c7a9a12.9093f4","b199952e.c40ad8"]]},{"id":"eea7a2e8.3508","type":"ui_switch","z":"c1c2e560.7dc148","name":"","label":"Printer","tooltip":"","group":"d83d2131.5d616","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":810,"y":40,"wires":[["ee63356f.5ff778"]]},{"id":"7d90c73b.3634b8","type":"ui_countdown_timer_switch","z":"c1c2e560.7dc148","name":"table light timer","label":"Table light timer","group":"d83d2131.5d616","order":6,"width":0,"height":0,"countdowns":["5","30","120","240","480","960"],"onvalue":"0","onvalueType":"num","offvalue":"1","offvalueType":"num","topic":"","showDropdown":false,"x":800,"y":540,"wires":[["2e247768.d2b838","a15245a0.7ce258"]]},{"id":"81fa7ada.82fe08","type":"ui_countdown_timer_switch","z":"c1c2e560.7dc148","name":"charger timer","label":"Charger 1","group":"d83d2131.5d616","order":6,"width":"4","height":"1","countdowns":["60","120","180","240"],"onvalue":"0","onvalueType":"num","offvalue":"1","offvalueType":"num","topic":"","showDropdown":false,"x":840,"y":200,"wires":[["c0084bc8.360ad8"]]},{"id":"1df2a006.c00de","type":"ui_switch","z":"c1c2e560.7dc148","name":"Speaker","label":"Speaker","tooltip":"","group":"d83d2131.5d616","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":960,"y":300,"wires":[["97a76b8d.5fe0b8"]]},{"id":"1f2d19b6.c1afb6","type":"comment","z":"c1c2e560.7dc148","name":"","info":"ffmpeg -i \"rtsp://bankay55555@gmail.com:123698745Ban@192.168.1.117:554/stream1\" -hls_time 3 -hls_wrap 10 \"streaming.m3u8\"","x":1140,"y":20,"wires":[]},{"id":"b2d4e9de.17bae8","type":"mqtt in","z":"c1c2e560.7dc148","name":"","topic":"room/ping","qos":"2","datatype":"auto","broker":"c38f89ac.7ca868","x":1120,"y":60,"wires":[[]],"info":"this node was made to usewith the touch sensor for table light "},{"id":"a3a10617.0e27f8","type":"inject","z":"c1c2e560.7dc148","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.3","topic":"","payload":"#:(file)::tablelight","payloadType":"global","x":580,"y":580,"wires":[["7d90c73b.3634b8"]]},{"id":"a15245a0.7ce258","type":"change","z":"c1c2e560.7dc148","name":"","rules":[{"t":"set","p":"#:(file)::tablelight","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":540,"wires":[[]]},{"id":"8376514d.d7987","type":"inject","z":"c1c2e560.7dc148","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.3","topic":"","payload":"#:(file)::laptopcharger","payloadType":"global","x":580,"y":460,"wires":[["8caaad1.2adad5"]]},{"id":"cb0ad802.ef0ba8","type":"change","z":"c1c2e560.7dc148","name":"laptopcharger","rules":[{"t":"set","p":"#:(file)::laptopcharger","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":420,"wires":[[]]},{"id":"cec0feb1.80ff1","type":"debug","z":"c1c2e560.7dc148","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":740,"wires":[]},{"id":"b199952e.c40ad8","type":"change","z":"c1c2e560.7dc148","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"ON","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":780,"wires":[["4880b0c5.3698"]]},{"id":"90041cbd.ba0d1","type":"mqtt out","z":"c1c2e560.7dc148","name":"switch","topic":"room/switch2","qos":"","retain":"","broker":"c38f89ac.7ca868","x":410,"y":1460,"wires":[]},{"id":"5b122890.6c72e8","type":"mqtt out","z":"c1c2e560.7dc148","name":"switch3","topic":"room/switch3","qos":"","retain":"","broker":"c38f89ac.7ca868","x":430,"y":1500,"wires":[]},{"id":"73417571.3b083c","type":"mqtt out","z":"c1c2e560.7dc148","name":"switch","topic":"room/switch4","qos":"","retain":"","broker":"c38f89ac.7ca868","x":420,"y":1560,"wires":[]},{"id":"f08373b1.aff18","type":"ui_countdown_timer_switch","z":"c1c2e560.7dc148","name":"mobile charger","label":"Mobile Charger","group":"b908b661.ce4b98","order":6,"width":"4","height":"1","countdowns":["60","120","180","240"],"onvalue":"on","onvalueType":"str","offvalue":"off","offvalueType":"str","topic":"","showDropdown":false,"x":190,"y":1500,"wires":[["5b122890.6c72e8"]]},{"id":"e54a70cd.2b253","type":"ui_countdown_timer_switch","z":"c1c2e560.7dc148","name":"switch2","label":"Switch2","group":"b908b661.ce4b98","order":6,"width":"4","height":"1","countdowns":["60","120","180","240"],"onvalue":"on","onvalueType":"str","offvalue":"off","offvalueType":"str","topic":"","showDropdown":false,"x":190,"y":1460,"wires":[["90041cbd.ba0d1"]]},{"id":"3031e24c.c1a5ee","type":"ui_countdown_timer_switch","z":"c1c2e560.7dc148","name":"Switch4","label":"Switch4 - 8t","group":"b908b661.ce4b98","order":6,"width":"4","height":"1","countdowns":["30","60","120","180","240"],"onvalue":"on","onvalueType":"str","offvalue":"off","offvalueType":"str","topic":"","showDropdown":false,"x":190,"y":1560,"wires":[["73417571.3b083c"]]},{"id":"15b21582.7e294a","type":"ui_switch","z":"c1c2e560.7dc148","d":true,"name":"","label":"switch","tooltip":"","group":"61d2dced.3db8f4","order":4,"width":"5","height":"3","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":890,"y":1600,"wires":[["b6fe25e.cc9ebd8"]]},{"id":"b6fe25e.cc9ebd8","type":"change","z":"c1c2e560.7dc148","d":true,"name":"","rules":[{"t":"set","p":"#:(file)::test","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":1600,"wires":[[]]},{"id":"1c6bc206.50099e","type":"inject","z":"c1c2e560.7dc148","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"#:(file)::test","payloadType":"global","x":710,"y":1600,"wires":[["15b21582.7e294a"]]},{"id":"89c4d611.3356f8","type":"alexa-smart-home-v3-state","z":"c1c2e560.7dc148","conf":"a8e4d29a.5a341","device":"22265","name":"switch 7","x":860,"y":1080,"wires":[]},{"id":"ce5b2fb5.0df9e","type":"alexa-smart-home-v3","z":"c1c2e560.7dc148","conf":"a8e4d29a.5a341","device":"22265","acknowledge":true,"name":"switch 7","topic":"","x":600,"y":1100,"wires":[["22034ecc.1725d2","89c4d611.3356f8"]]},{"id":"22034ecc.1725d2","type":"change","z":"c1c2e560.7dc148","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"0","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1040,"wires":[["cdb19644.055098"]]},{"id":"cdb19644.055098","type":"rpi-gpio out","z":"c1c2e560.7dc148","name":"","pin":"13","set":true,"level":"1","freq":"","out":"out","x":820,"y":1040,"wires":[]},{"id":"a517d095.a5e81","type":"alexa-smart-home-v3-state","z":"c1c2e560.7dc148","conf":"a8e4d29a.5a341","device":"22266","name":"switch 8","x":540,"y":1240,"wires":[]},{"id":"dcb89d68.6126e","type":"alexa-smart-home-v3","z":"c1c2e560.7dc148","conf":"a8e4d29a.5a341","device":"22266","acknowledge":true,"name":"switch 8","topic":"","x":340,"y":1220,"wires":[["844cb5fc.433d08","a517d095.a5e81"]]},{"id":"844cb5fc.433d08","type":"change","z":"c1c2e560.7dc148","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"0","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1180,"wires":[["ef214b6f.bb7df8"]]},{"id":"ef214b6f.bb7df8","type":"rpi-gpio out","z":"c1c2e560.7dc148","name":"","pin":"11","set":true,"level":"1","freq":"","out":"out","x":740,"y":1200,"wires":[]},{"id":"d99def66.06ab","type":"ui_switch","z":"c1c2e560.7dc148","name":"","label":"Desk Light","tooltip":"","group":"d83d2131.5d616","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":930,"y":1200,"wires":[["ef214b6f.bb7df8"]]},{"id":"d268b1c9.d5b4a","type":"ui_countdown_timer_switch","z":"c1c2e560.7dc148","name":"charger timer","label":"Charger 2","group":"d83d2131.5d616","order":6,"width":"4","height":"1","countdowns":["60","120","180","240"],"onvalue":"0","onvalueType":"num","offvalue":"1","offvalueType":"num","topic":"","showDropdown":false,"x":1010,"y":1040,"wires":[["cdb19644.055098"]]},{"id":"82147f14.40346","type":"mqtt out","z":"c1c2e560.7dc148","name":"switch","topic":"room/switch1","qos":"","retain":"","broker":"c38f89ac.7ca868","x":750,"y":1320,"wires":[]},{"id":"3db832dc.4beffe","type":"ui_countdown_timer_switch","z":"c1c2e560.7dc148","name":"Tab charger","label":"Tab charger","group":"b908b661.ce4b98","order":6,"width":"4","height":"1","countdowns":["60","120","180","240"],"onvalue":"on","onvalueType":"str","offvalue":"off","offvalueType":"str","topic":"","showDropdown":true,"x":550,"y":1340,"wires":[["884a6070.449a9","82147f14.40346"]]},{"id":"884a6070.449a9","type":"change","z":"c1c2e560.7dc148","name":"","rules":[{"t":"set","p":"#:(file)::tabcharger","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":1380,"wires":[[]]},{"id":"5e21b9d8.4941b8","type":"inject","z":"c1c2e560.7dc148","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"#:(file)::tabcharger","payloadType":"global","x":350,"y":1340,"wires":[["3db832dc.4beffe"]]},{"id":"4880b0c5.3698","type":"debug","z":"c1c2e560.7dc148","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1200,"y":760,"wires":[]},{"id":"a8e4d29a.5a341","type":"alexa-smart-home-v3-conf","username":"bankay8206772","mqttserver":"mq-red.cb-net.co.uk","webapiurl":"red.cb-net.co.uk","contextName":"memory"},{"id":"d83d2131.5d616","type":"ui_group","name":"Default","tab":"993daa3b.7f8618","order":1,"disp":true,"width":"6","collapse":false},{"id":"c38f89ac.7ca868","type":"mqtt-broker","name":"","broker":" localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b908b661.ce4b98","type":"ui_group","name":"switch box","tab":"993daa3b.7f8618","order":2,"disp":true,"width":"6","collapse":false},{"id":"61d2dced.3db8f4","type":"ui_group","name":"flowtest","tab":"3c94630c.13381c","order":1,"disp":true,"width":"12","collapse":false},{"id":"993daa3b.7f8618","type":"ui_tab","name":"TABLE","icon":"dashboard","disabled":false,"hidden":false},{"id":"3c94630c.13381c","type":"ui_tab","name":"Test","icon":"dashboard","order":6}]