NodeRed file
[{"id":"7f40ef09.87c18","type":"ui_switch","z":"cb47c25a.aa34e","name":"lamp","label":"LIGHT","group":"4a6e7cb3.2072d4","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"room/lamp","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":170,"y":120,"wires":[["7ef56cc8.f116b4","fdf4ea87.cc53b8"]]},{"id":"67334394.522eec","type":"mqtt in","z":"cb47c25a.aa34e","name":"humidity","topic":"room/humidity","qos":"2","broker":"c38f89ac.7ca868","x":520,"y":100,"wires":[["ce77c11e.def5a"]]},{"id":"c23bc62c.ebaba8","type":"mqtt in","z":"cb47c25a.aa34e","name":"temperature","topic":"room/temperature","qos":"2","broker":"c38f89ac.7ca868","x":530,"y":40,"wires":[["979bdf0a.27c4d"]]},{"id":"ce77c11e.def5a","type":"ui_gauge","z":"cb47c25a.aa34e","name":"humidity","group":"aa9613e6.a77bd","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":100,"wires":[]},{"id":"979bdf0a.27c4d","type":"ui_chart","z":"cb47c25a.aa34e","name":"temperature","group":"aa9613e6.a77bd","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":710,"y":40,"wires":[[],[]]},{"id":"7ef56cc8.f116b4","type":"mqtt out","z":"cb47c25a.aa34e","name":"lamp","topic":"room/lamp","qos":"2","retain":"","broker":"c38f89ac.7ca868","x":350,"y":120,"wires":[]},{"id":"fce1b894.2e22f8","type":"freeboard","z":"cb47c25a.aa34e","name":"[Node-RED] Freeboard","x":590,"y":180,"wires":[]},{"id":"5cbfbb21.6d1ee4","type":"inject","z":"cb47c25a.aa34e","name":"Send Random Value","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":190,"y":180,"wires":[["f38ce4d9.011ce8"]]},{"id":"f38ce4d9.011ce8","type":"function","z":"cb47c25a.aa34e","name":"","func":"msg.payload={value:Math.floor(Math.random()*100)};\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":180,"wires":[["fce1b894.2e22f8"]]},{"id":"72bc6e9b.abd68","type":"ui_switch","z":"cb47c25a.aa34e","name":"","label":"SWITCH","group":"4a6e7cb3.2072d4","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":180,"y":80,"wires":[["3e872e11.eff732"]]},{"id":"e3e6f1a7.34285","type":"mqtt out","z":"cb47c25a.aa34e","name":"fan","topic":"room/fan","qos":"","retain":"","broker":"c38f89ac.7ca868","x":350,"y":40,"wires":[]},{"id":"3d6a8099.b6034","type":"ui_slider","z":"cb47c25a.aa34e","name":"","label":"POWER","group":"4a6e7cb3.2072d4","order":0,"width":0,"height":0,"passthru":true,"topic":"room/fan","min":"1","max":"5","step":"1","x":180,"y":40,"wires":[["e3e6f1a7.34285"]]},{"id":"f570cbe7.f368c8","type":"ui_colour_picker","z":"cb47c25a.aa34e","name":"color","label":"color","group":"4a6e7cb3.2072d4","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":true,"showAlpha":false,"showLightness":true,"dynOutput":"false","order":0,"width":0,"height":0,"passthru":true,"topic":"","x":850,"y":540,"wires":[["ea54eb3b.7585e8"]]},{"id":"3e872e11.eff732","type":"mqtt out","z":"cb47c25a.aa34e","name":"switch","topic":"room/switch","qos":"","retain":"","broker":"c38f89ac.7ca868","x":350,"y":80,"wires":[]},{"id":"d73c26ca.31a0f8","type":"http request","z":"cb47c25a.aa34e","name":"","method":"GET","ret":"obj","url":"http://api.openweathermap.org/data/2.5/weather?appid=542ffd081e67f4512b705f89d2a611b2&q=Delhi","tls":"","x":310,"y":300,"wires":[["21cdf21a.43015e","97d8a755.859588","f60e1fd5.dcece","52254b0f.8ce7e4","2aa12bf4.c03b04","96154cdc.d2fc","2dd0cab4.093006","4073f858.d64508","21c11d46.869c52"]]},{"id":"fd13b94b.c14fb8","type":"inject","z":"cb47c25a.aa34e","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":"15","x":130,"y":300,"wires":[["d73c26ca.31a0f8"]]},{"id":"21cdf21a.43015e","type":"function","z":"cb47c25a.aa34e","name":"humidity","func":"return {payload : msg.payload.main.humidity};\n","outputs":1,"noerr":0,"x":520,"y":260,"wires":[["77a510e7.65bb9"]]},{"id":"2aa12bf4.c03b04","type":"debug","z":"cb47c25a.aa34e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":360,"wires":[]},{"id":"77a510e7.65bb9","type":"ui_gauge","z":"cb47c25a.aa34e","name":"humidity","group":"192370de.3bdc6f","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":260,"wires":[]},{"id":"97d8a755.859588","type":"function","z":"cb47c25a.aa34e","name":"temperature","func":"return{payload : msg.payload.main.temp-273};\n","outputs":1,"noerr":0,"x":510,"y":220,"wires":[["a529d8d6.7e13c8"]]},{"id":"a529d8d6.7e13c8","type":"ui_chart","z":"cb47c25a.aa34e","name":"temperature","group":"192370de.3bdc6f","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":690,"y":220,"wires":[[],[]]},{"id":"f60e1fd5.dcece","type":"function","z":"cb47c25a.aa34e","name":"Parse icon","func":"msg.payload = (msg.payload.weather);\n    node.status({text:msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":300,"wires":[["d2dd66fc.6e3dd8"]]},{"id":"d2dd66fc.6e3dd8","type":"ui_template","z":"cb47c25a.aa34e","group":"7daadbd4.0db3f4","name":"","order":0,"width":"3","height":"3","format":"<link rel=\"stylesheet\" href=\"/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi wi-forecast-io-{{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":700,"y":300,"wires":[[]]},{"id":"52254b0f.8ce7e4","type":"function","z":"cb47c25a.aa34e","name":"weather","func":"return{payload : msg.payload.weather[0].main};\n","outputs":1,"noerr":0,"x":500,"y":360,"wires":[["f8adc8ce.9c80b8"]]},{"id":"d32656a0.d73d68","type":"ui_text","z":"cb47c25a.aa34e","group":"192370de.3bdc6f","order":0,"width":"6","height":"1","name":"","label":"Weather","format":"{{msg.payload}}","layout":"row-left","x":720,"y":400,"wires":[]},{"id":"f8adc8ce.9c80b8","type":"change","z":"cb47c25a.aa34e","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Mist","fromt":"str","to":"little cloudy","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":400,"wires":[["d32656a0.d73d68"]]},{"id":"96154cdc.d2fc","type":"function","z":"cb47c25a.aa34e","name":"sunset","func":"\nvar sunset = new Date(msg.payload.sys.sunset*1000);\n\nvar forecast = \" is at \" + sunset.getHours() + \":\" + sunset.getMinutes() + \".\";\n\n\n\nglobal.set(\"MorningStat_forecast\", forecast);\n\nmsg.payload = forecast;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":440,"wires":[["5daff17a.b97f5"]]},{"id":"5daff17a.b97f5","type":"ui_text","z":"cb47c25a.aa34e","group":"192370de.3bdc6f","order":0,"width":"6","height":"1","name":"","label":"Sunset","format":"{{msg.payload}}","layout":"row-left","x":720,"y":440,"wires":[]},{"id":"2dd0cab4.093006","type":"function","z":"cb47c25a.aa34e","name":"sunrise","func":"\nvar sunrise = new Date(msg.payload.sys.sunrise*1000);\n\nvar forecast_sunrise = \" is at \" + sunrise.getHours() + \":\" + sunrise.getMinutes() + \".\";\n\n\n\nglobal.set(\"MorningStat_forecast\", forecast_sunrise);\n\nmsg.payload = forecast_sunrise;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":480,"wires":[["28243097.7c216"]]},{"id":"28243097.7c216","type":"ui_text","z":"cb47c25a.aa34e","group":"192370de.3bdc6f","order":0,"width":"6","height":"1","name":"","label":"Sunrise","format":"{{msg.payload}}","layout":"row-left","x":720,"y":480,"wires":[]},{"id":"4073f858.d64508","type":"function","z":"cb47c25a.aa34e","name":"","func":"\nvar date = new Date(msg.payload.dt*1000);\n\nvar date1 = \n             date.getUTCFullYear() +\n        '-' + ('0' + date.getMonth()) +\n        '-' + ('0' + date.getUTCDate()).slice(-2) + \n        ' ' + ('0' + date.getUTCHours()).slice(-2) +\n        ':' + ('0' + date.getUTCMinutes()).slice(-2)  ;\n    \n             \n\n\nglobal.set(\"MorningStat_forecast\", date1);\n\nmsg.payload = date1;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":510,"y":520,"wires":[[]]},{"id":"588e3f.3bd181c","type":"ui_text","z":"cb47c25a.aa34e","group":"192370de.3bdc6f","order":0,"width":0,"height":0,"name":"","label":"date/time","format":"{{msg.payload}}","layout":"row-left","x":720,"y":520,"wires":[]},{"id":"21c11d46.869c52","type":"moment","z":"cb47c25a.aa34e","name":"","topic":"","input":"payload.dt*1000","inputType":"msg","inTz":"Asia/Calcutta","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD,MMMM-ddd T h:mm a","locale":"en_IN","output":"payload","outputType":"msg","outTz":"Asia/Calcutta","x":520,"y":580,"wires":[["588e3f.3bd181c"]]},{"id":"c233db0f.542938","type":"ui_switch","z":"cb47c25a.aa34e","name":"","label":"Auto light","group":"4a6e7cb3.2072d4","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":180,"y":640,"wires":[["20765246.cc09ae"]]},{"id":"9468de.1662472","type":"ui_button","z":"cb47c25a.aa34e","name":"auto","group":"4a6e7cb3.2072d4","order":0,"width":0,"height":0,"passthru":false,"label":"auto control","color":"","bgcolor":"","icon":"","payload":"auto","payloadType":"str","topic":"","x":190,"y":680,"wires":[["20765246.cc09ae"]]},{"id":"20765246.cc09ae","type":"bigtimer","z":"cb47c25a.aa34e","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Big Timer","lat":"28.65","lon":"77.22","starttime":"5004","endtime":"5003","startoff":0,"endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":400,"y":660,"wires":[["ca639512.6da9e8"],[],[]]},{"id":"529da65f.091f98","type":"mqtt out","z":"cb47c25a.aa34e","name":"auto","topic":"room/auto","qos":"","retain":"","broker":"c38f89ac.7ca868","x":670,"y":620,"wires":[]},{"id":"c64e7991.a45bc8","type":"debug","z":"cb47c25a.aa34e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1110,"y":540,"wires":[]},{"id":"ea54eb3b.7585e8","type":"function","z":"cb47c25a.aa34e","name":"","func":"var data = \"0x\"+msg.payload;\nmsg.payload= data;\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":500,"wires":[["c64e7991.a45bc8"]]},{"id":"ee233b92.264d58","type":"ui_colour_picker","z":"cb47c25a.aa34e","name":"","label":"rgb","group":"4a6e7cb3.2072d4","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"dynOutput":"false","order":0,"width":0,"height":0,"passthru":true,"topic":"room/rgb","x":90,"y":440,"wires":[["f4a3175b.58d2b8","145529de.0d2146"]]},{"id":"f4a3175b.58d2b8","type":"debug","z":"cb47c25a.aa34e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":280,"y":460,"wires":[]},{"id":"ca639512.6da9e8","type":"rbe","z":"cb47c25a.aa34e","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":550,"y":640,"wires":[["529da65f.091f98"]]},{"id":"145529de.0d2146","type":"mqtt out","z":"cb47c25a.aa34e","name":"","topic":"room/rgb","qos":"","retain":"","broker":"c38f89ac.7ca868","x":290,"y":560,"wires":[]},{"id":"c96dfad3.099ac8","type":"ui_switch","z":"cb47c25a.aa34e","name":"","label":"2nd node","group":"4a6e7cb3.2072d4","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":210,"y":820,"wires":[["de6161d2.eb0b4"]]},{"id":"de6161d2.eb0b4","type":"mqtt out","z":"cb47c25a.aa34e","name":"","topic":"new/switch","qos":"","retain":"","broker":"c38f89ac.7ca868","x":450,"y":820,"wires":[]},{"id":"fdf4ea87.cc53b8","type":"debug","z":"cb47c25a.aa34e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":160,"wires":[]},{"id":"4a6e7cb3.2072d4","type":"ui_group","z":"","name":"Lamp","tab":"3373d89.c645028","order":1,"disp":true,"width":"6","collapse":false},{"id":"c38f89ac.7ca868","type":"mqtt-broker","z":"","name":"","broker":" localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"aa9613e6.a77bd","type":"ui_group","z":"","name":"Sensor","tab":"3373d89.c645028","order":2,"disp":true,"width":"6","collapse":false},{"id":"192370de.3bdc6f","type":"ui_group","z":"","name":"Display","tab":"3373d89.c645028","order":3,"disp":true,"width":"6","collapse":false},{"id":"7daadbd4.0db3f4","type":"ui_group","z":"","name":"Examples","tab":"8fc82ba9.b60748","order":1,"disp":true,"width":"12"},{"id":"3373d89.c645028","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"8fc82ba9.b60748","type":"ui_tab","z":"cb47c25a.aa34e","name":"Test","icon":"school","order":4}]
